[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rich = "*"
typer = "*"
kubernetes = "*"
requests = "*"
kubectl-application-shell = {file = ".", editable = true}

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"

[requires]
python_version = "3.9"

[scripts]
kubeas = {call = "kubectl_application_shell.cli:app()"}
